.shujia_content{height: 2700px;width: 1200px;border-top: 1px solid #fff;margin:0 auto;
		margin-top: 10px;background: #fff;}
.shujia_content .breadcrumb{margin:10px 15px 10px 15px;color: #888;font-family: "宋体";
	font-size:0.75em;}
.shujia p.f1,p.f2,p.f3,.f4,.f5{height: 34px;width: 962px;line-height: 34px;text-indent:20px;
	font-size:18px;font-weight: bolder;}
	p.f1{background: #0AB2A0;}
	p.f2{background: #4F81CC;}
	p.f3{background: #C1181B;}
	p.f4{background: #CFE1F1;}
	p.f5{background: #CFE1F1;}

.shujia ul{overflow: hidden;width: 960px;border: 1px solid #eee;}
.shujia ul li{width: 210px;height: 210px;border: 1px solid #ccc;margin:5px 8px;float: left;
	padding: 5px;}
.shujia ul li:hover{border:1px solid red;}
.shujia ul li img{width: 160px;height: 160px;margin:0 20px;}
.shujia ul li h3{font-size:18px;color: red;}
.shujia ul li p{font-size:14px;}
.shujia ul li span{font-size:14px;font-weight: bolder;}

.louceng{height: 500px;width: 960px;margin-bottom: 10px;}

.fixedshujia{position:fixed;top:50px;right:70px;border: 1px solid gray;}

.LoutiNav{ border: 1px solid gray; width: 180px; margin-top: 10px; margin-right: 40px;
	float: right;}
.LoutiNav li{ width: 180px; height: 30px;border-bottom: 1px solid gray; line-height: 30px; text-align: center; cursor: pointer;}
.LoutiNav .active{background: white; color: darkred;}
.LoutiNav li:hover span{display: block; font-size: 12px; background: darkred; color: white;}
.LoutiNav li:hover i{display: none;}